body {
    padding: 0px;
    margin: 0px;
    background-image: url("./images/papyrus-dark.png");
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#header-bar {
    background: purple;
    border-bottom: 1px solid white;
    padding: 5px;
    margin: 0px;
    margin-bottom: 5px;
    width: 100%;
    font-weight: bold;
    font-size: 26px;
    display: flex;
    flex-direction: row;
}

#title, #instructions, #scoreboard {
    width: 30%;
    text-align: center;
    margin: auto;
}

#instructions {
    font-size: 24px;
    font-style: italic
}

#game-board {
    width: 875px;
    margin: 0 auto;
}

.game-piece {
    margin: 2px;
    background-color: black;
    padding: 4px;
    border: solid 1px purple;
}

.game-piece:hover {
    background-color: white;
}

@media only screen and (max-width: 970px) {
    #score-stack {
        color: purple;
        font-size: 0px;
    }
    #scoreboard {
        display: flex;
        flex-direction: column
    }
    #score, #top-score {
        width: 90%;
    }
    #instructions {
        font-size: 22px;
    }
    #title, #scoreboard {
        font-size: 24px;
    }
}

@media only screen and (max-width: 880px) {
    #game-board {
        width: 460px;
    }
    img {
        width: 100px;
    }
    #instructions {
        font-size: 18px;
    }
    #title, #scoreboard {
        font-size: 20px;
    }
}

@media only screen and (max-width: 465px) {
    #game-board {
        width: 260px;
    }
    img {
        width: 50px;
    }
    #instructions {
        font-size: 12px;
    }
    #title, #scoreboard {
        font-size: 14px;
    }
}