body {
    padding: 0px;
    margin: 0px;
    background-image: url("./images/papyrus-dark.png");
    font-family: Arial, Helvetica, sans-serif;
}

#header-bar {
    background: purple;
    border-bottom: 2px solid black;
    padding: 5px;
    margin: 0px;
    margin-bottom: 5px;
    width: 100%;
    font-weight: bold;
    font-size: 26px;
    display: flex;
    flex-direction: row;
}

#title, #instructions, #scoreboard {
    width: 30%;
    text-align: center;
}

#instructions {
    font-size: 24px;
}

#game-board {
    width: 875px;
    margin: 0 auto;
}

.game-piece {
    margin: 2px;
    background-color: black;
    padding: 4px;
    border: solid 1px purple;
}